<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>
    <template class="history">
        <li>
            <span></span>
        </li>
    </template>
    </template>
    <div class="bg"></div>
    <header>
        <nav>
            <div>
                <i class="ri-function-line"></i>
                <button onclick="pjax('admin')">Sign in</button>
                <details>
                    <summary>
                        <i class="ri-settings-line"></i>
                    </summary>
                    <ul aria-label="Settings">
                        <li data-src="on" id="suggestion"><i class="ri-bard-line"></i> Suggestions</li>
                        <li data-src="on" id="dark""><i class=" ri-moon-line"></i> Dark mode</li>
                        <li data-src="on" id="history"><i class="ri-history-line"></i> History</li>
                    </ul>
                </details>
            </div>
        </nav>
    </header>
    <main>
        <aside>
            <img src="../static/img/logo.svg" alt="HOP.cheap logo">
            <ul>
            </ul>
            <button></button>
        </aside>
        <ul>
            <li>{{ query }}</li>
            <li>
                <span>Here is what I found for "{{ query }}"</span>
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img
                                src="https://multimedia.bbycastatic.ca/multimedia/products/500x500/151/15136/15136919.jpg" />
                            <div>
                                <span onclick="pjax('search?p=macbook')">Apple MacBook Air</span>
                                <p>The Apple MacBook Air, known for its sleek design and portability, combines power
                                    with elegance. Featuring a high-resolution Retina display, it offers stunning
                                    visuals, ideal for designers and developers. Equipped with the latest Apple silicon,
                                    it ensures efficient performance and long battery life, making it perfect for
                                    students and professionals on the go.
                                </p>

                            </div>
                        </div>
                        <div class="swiper-slide">
                            <img
                                src="https://dyson-h.assetsadobe2.com/is/image/content/dam/dyson/images/products/hero/394945-01.png?$responsive$&fmt=png-alpha&cropPathE=desktop&fit=stretch,1&wid=576" />
                            <div>
                                <span onclick="pjax('search?p=dyson')">Dyson Airwrap</span>
                                <p>ncludes re-engineered attachments.
                                    For hair that's shorter than chest-length.
                                    Engineered for multiple hair types.
                                    With new barrels to curl and wave in both directions, brushes to control and shape,
                                    and the multi-functional 2-in-1 Coanda smoothing dryer to dry, smooth and hide
                                    flyaways.</p>

                            </div>
                        </div>
                        <div class="swiper-slide">
                            <img
                                src="https://dyson-h.assetsadobe2.com/is/image/content/dam/dyson/images/products/hero-locale/en_CA/460107-01.png?$responsive$&fmt=png-alpha&cropPathE=desktop&fit=stretch,1&wid=576" />
                            <div>
                                <span onclick="pjax('search?p=dyson')">Dyson Supersonic™ hair drye</span>
                                <p>Give the gift of fast drying and styling.
                                    Five styling attachments, including the Flyaway attachment.
                                    Intelligent heat control for fast drying, with no extreme heat. Powered by the Dyson digital motor V9.
                                    Chatelaine & FASHION 2023 Beauty Award Winner for Best Hair dryer. 
                                    Includes Dyson-designed presentation case.</p>
                            </div>
                        </div>
                        <div class="swiper-slide">Slide 4</div>
                        <div class="swiper-slide">Slide 5</div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </li>
        </ul>
    </main>
    <footer>
        Made with <span>❤️</span> by group8
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../static/js/pjax.js"></script>
    <script src="../static/js/script.js"></script>
    <script>
        let swiper = new Swiper(".swiper", {
            mousewheel: true,
            slidesPerView: "auto",
            scrollbar: {
                el: ".swiper-scrollbar",
            }
        });
    </script>
</body>

</html>