<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>
    <template class="history">
        <li>
            <span></span>
        </li>
    </template>
    </template>
    <div class="bg"></div>
    <header>
        <nav>
            <div>
                <i class="ri-function-line"></i>
                <button onclick="pjax('admin')">Sign in</button>
                <details>
                    <summary>
                        <i class="ri-settings-line"></i>
                    </summary>
                    <ul aria-label="Settings">
                        <li data-src="on" id="suggestion"><i class="ri-bard-line"></i> Suggestions</li>
                        <li data-src="on" id="dark""><i class=" ri-moon-line"></i> Dark mode</li>
                        <li data-src="on" id="history"><i class="ri-history-line"></i> History</li>
                    </ul>
                </details>
            </div>
        </nav>
    </header>
    <main>
        <aside>
            <a onclick="pjax('/')">
                <img src="../static/img/logo.svg" alt="HOP.cheap logo">
            </a>
            <ul>
            </ul>
            <button></button>
        </aside>
        <ul>
            <li>{{ query }}</li>
            <li>
                <span>Here is what I found for "{{ query }}"</span>
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div>
                                <img
                                    src="https://cdn.discordapp.com/attachments/1101017132482957363/1176561982846029874/365cent_apple_amazon_product_image_realistic_white_background_2417a6f6-8759-41e2-b480-0637aec4a01e.png?ex=656f51bc&is=655cdcbc&hm=1e3ab318331ab437aafad157b3f1d5801f68771e44b40b224edba2c2140fc25d&" />
                            </div>
                            <div>
                                <span onclick="pjax('search?p=apple')">Apple</span>
                                <p>A red apple is a type of fruit known for its vibrant red skin, which can range from
                                    bright to deep red tones. It typically has a round shape with a small stem at the
                                    top. The interior flesh is crisp and juicy, usually with a sweet-tart flavor that
                                    varies depending on the specific variety. Red apples are commonly used in both raw
                                    and cooked forms, being a popular choice for snacks, salads, baking, and juices.
                                    They are also celebrated for their nutritional benefits, including a good source of
                                    dietary fiber and vitamin C.</p>

                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <img
                                    src="https://cdn.discordapp.com/attachments/1101017132482957363/1177032052793679933/365cent_orange_amazon_product_image_realistic_white_background_2744777b-c0f3-47d2-897e-4f20dc3d7844.png?ex=65710785&is=655e9285&hm=2704dff3d07daa73ecf40cbaf2b9f97d4d5a0380efa8548bf156bc4fba940471&" />
                            </div>
                            <div>
                                <span onclick="pjax('search?p=orange')">Orange</span>
                                <p>Orange, a vibrant citrus fruit, is a powerhouse of nutrients. Packed with Vitamin C,
                                    it boosts immunity and promotes skin health. Its high fiber content aids digestion,
                                    while antioxidants combat free radicals. Enjoy it fresh, juiced, or in salads for a
                                    refreshing, healthful addition to your diet.</p>

                            </div>
                        </div>
                        <div class="swiper-slide">
                            <img
                                src="https://cdn.discordapp.com/attachments/1101017132482957363/1177285263240724550/365cent_banana_amazon_product_image_realistic_white_background_52cd2cf7-6e28-4ff6-b3a4-469a83002ae6.png?ex=6571f357&is=655f7e57&hm=d13cee86fe5705d54672808fa6d346ff947a9fd8fd429ceba7eb5b25f0450760&" />
                            <div>
                                <span onclick="pjax('search?p=banana')">Banana</span>
                                <p>Banana, a versatile and nutritious fruit, is rich in potassium, aiding heart health
                                    and blood pressure regulation. Its high fiber content supports digestion, while
                                    Vitamin B6 enhances brain function. Perfect as a quick snack, in smoothies, or baked
                                    goods, bananas offer energy and essential nutrients for a healthy lifestyle.</p>
                            </div>
                        </div>
                        <div class="swiper-slide">Slide 4</div>
                        <div class="swiper-slide">Slide 5</div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </li>
        </ul>
    </main>
    <footer>
        Made with <span>❤️</span> by group8
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../static/js/pjax.js"></script>
    <script src="../static/js/script.js"></script>
</body>

</html>